.formato{
    height: 30vmin;
}
@media (prefers-reduced-motion: no-preference) {
    .formato2{
      animation:formato-animation  0.5s infinite linear alternate;
    }
  }
  @keyframes formato-animation{
    100%{
        transform: scale(1.5);
    }
      
  }