.logo {
    height: 10vmin;

  }
   
  @media (prefers-reduced-motion: no-preference) {
    .logo:hover{
      animation:logo-animation  0.7s infinite linear alternate;
    }
  }
  @keyframes logo-animation{
    100%{
        transform: scale(1.3);
    }
      
  }
  