.links{
    display: block;
    padding:  0.5rem;
    color: #ffffff8c;
    text-decoration:none ;
    
}
.links:focus,.links:hover{
    color:white;
    transition: .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}